{
  "openapi": "3.0.3",
  "info": {
    "title": "My E-commerce API",
    "description": "API for managing products, orders, and users",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.myecommerce.com"
    }
  ],
  "paths": {
    "/products": {
      "get": {
        "summary": "List all products",
        "responses": {
          "200": {
            "description": "A list of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new product",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}": {
      "get": {
        "summary": "Get product by ID",
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "123"
          },
          "name": {
            "type": "string",
            "example": "Cool T-Shirt"
          },
          "price": {
            "type": "number",
            "format": "float",
            "example": 19.99
          },
          "description": {
            "type": "string",
            "example": "A very cool t-shirt"
          },
          "inventory": {
            "type": "boolean",
            "example": true
          },
          "color": {
            "type": "string"
          },
          "size": {
            "type": "number"
          },
          "brand": {
            "type": "string"
          }
        }
      },
      "ProductInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "description": {
            "type": "string"
          },
          "inventory": {
            "type": "boolean"
          },
          "color": {
            "type": "string"
          },
          "size": {
            "type": "number"
          },
          "brand": {
            "type": "string"
          }
        },
        "required": ["name", "price"]
      }
    }
  }
}
